@import url("https://fonts.googleapis.com/css2?family=Jaini&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(39, 2, 79, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.c-header.is-open .c-header-background {
  left: 0;
}
.c-header-button-wrapper {
  margin-left: auto;
}
.c-header-icon {
  display: none;
}

.c-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.c-navigation-list.is-open {
  right: 0;
}
.c-header-icon-menu {
  display: block;
}

.c-header-icon-button.is-open .c-header-icon-menu {
  display: none;
}

.c-header-icon-button.is-open .c-header-icon-close {
  display: block;
}

.c-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
}

.c-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
}
.c-header.is-open .c-header-background {
  left: 0;
}
.c-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-header-icon-menu {
  display: block;
}

.c-header-icon-button.is-open .c-header-icon-menu {
  display: none;
}

.c-header-icon-button.is-open .c-header-icon-close {
  display: block;
}

.c-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.c-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 255, 255, 1);
}

.c-navigation-list.is-open {
  right: 0;
}

.c-navigation-link {
  font-family: Lato;
  font-weight: 500;
  font-size: 20px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.c-navigation-link:hover,
.c-navigatioт-link:focus {
  font-weight: 700;
  font-size: 24px;
}

.c-header.is-open {
  background-color: transparent;
}

.c-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .c-navigation-img {
    display: flex;
  }
  .c-policy-terms-header-icon-menu {
    display: none;
  }

  .c-header {
    width: 100%;
    height: 108px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(207, 146, 255, 1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  }

  .c-header-background {
  }
  .c-header-icon-button {
    display: none;
  }
  .c-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .c-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 16px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .c-navigation-link {
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;

    padding: 0px 10px;
    text-decoration: none;
  }

  .c-navigation-link:hover,
  .c-navigation-link:focus {
    color: #ffffff;
  }

  .c-navigation-item-desk {
    display: none;
  }
}
.c-home {
  width: 375px;
  height: 810px;
  padding: 183px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 282.png");
  margin: auto;
}

.c-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-home-title {
  width: 280.923095703125px;
  height: 297px;
}

.c-home-text {
  font-family: Jaini;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  background: linear-gradient(180deg, #ff86f6 31.06%, #8f0075 140.91%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
  padding: 20px 0 24px;
}

.c-home-google-button-image {
  width: 270px;
  height: 60px;
}

.c-home-google-button-link:hover .c-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .c-home {
    width: 1440px;
    height: 930px;
    padding: 212px 0px 0px;
    background-image: url("/img/home/Frame\ 283.png");
  }

  .c-home-title {
    width: 386.8604431152344px;
    height: 409px;
  }

  .c-home-text {
    font-family: Jaini;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
  }
}
.c-about {
  padding: 66px 20px 0px;
  margin: auto;
  width: 375px;
  position: relative;
}
.c-about-img {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 87.3818130493164px;
  height: 72px;
  left: 7px;
}
.c-about-title {
  font-family: Jaini;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(255, 140, 235, 1);
}

.c-about-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  padding-top: 24px;
}

@media screen and (min-width: 1200px) {
  .c-about {
    padding: 96px 108px 0;
    width: 1440px;
  }
  .c-about-img {
    position: absolute;
    top: 19px;
    width: 187px;
    height: 154px;
    left: 25px;
  }
  .c-about-title {
    font-family: Jaini;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
  }

  .c-about-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;

    padding-top: 48px;
  }
}
.c-how {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0;
  height: 647px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 284.png");
}

.c-how-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.c-how-text-bold {
  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
}

.c-how-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  .c-how {
    width: 1440px;
    padding: 100px 110px 0px;
    height: 805px;
    background-image: url("/img/Frame\ 285.png");
  }
  .c-how-list {
    padding: 99px 0 0 451px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .c-how-text-bold {
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
  }

  .c-how-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
  }
}

.c-reviews {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0;
}

.c-reviews-list {
  padding-top: 24px;
}

.c-reviews-item {
  margin: 5px;
  width: 307px;
  height: 195px;

  border-radius: 40px;
  padding: 24px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 16.3px 0px rgba(31, 29, 31, 0.23);
}
.c-reviews-item-two {
  background: rgba(153, 218, 168, 1);
}

.c-reviews-item-top {
  display: flex;
  gap: 16px;

  color: rgba(0, 0, 0, 1);
  height: 92px;
}
.c-reviews-img {
  width: 59px;
  height: 59px;
}
.c-reviews-text-bold {
  font-family: Lato;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.c-reviews-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  padding-top: 16px;
}
.c-reviews-image {
  width: 191px;
  height: 35px;
  margin: auto;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .c-reviews {
    width: 1440px;
    padding: 120px 108px 0;
  }
  .c-reviews-list {
    padding-top: 48px;
  }

  .c-reviews-item {
    margin: 12px;
    width: 512px;
    height: 253px;
    border-radius: 40px;
    padding-top: 29px;
    padding-right: 37px;
    padding-bottom: 29px;
    padding-left: 37px;
  }

  .c-reviews-item-top {
    display: flex;
    gap: 16px;

    color: rgba(0, 0, 0, 1);
    height: 132px;
  }
  .c-reviews-img {
    width: 75px;
    height: 75px;
  }
  .c-reviews-text-bold {
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
  }

  .c-reviews-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;

    padding-top: 16px;
  }
  .c-reviews-image {
    width: 211px;
    height: 39px;
    margin-top: 24px;
  }
}

.c-faq {
  padding: 80px 20px;
  margin: auto;
  width: 375px;
  position: relative;
}

.c-faq-container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.c-faq-item {
  border-radius: 16px;
  padding: 16px;
  background: rgba(207, 146, 255, 1);
}

.c-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lato;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
}

.c-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.c-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
}
.c-faq-i {
  position: absolute;
  top: 0px;
  left: 247px;
  width: 127.3886489868164px;
  height: 102px;
}
.c-faq-im {
  display: none;
}
@media screen and (min-width: 1200px) {
  .c-faq {
    padding: 120px 357px;
    width: 1440px;
  }
  .c-faq-i {
    position: absolute;
    top: 0px;
    left: 1140px;
    width: 286px;
    height: 229px;
  }
  .c-faq-im {
    display: flex;
    position: absolute;
    bottom: 70px;
    left: 49px;
  }

  .c-faq-container {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .c-faq-item {
    border-radius: 16px;
    padding: 24px;
    background: rgba(207, 146, 255, 1);
  }

  .c-faq-question {
    font-family: Lato;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .c-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .c-faq-answer {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.c-gallery {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0;
}

.c-gallery-list {
  width: auto;
  padding-top: 24px;
  margin: auto;
}

.c-gallery-item {
  width: 245px;
  height: 435.5555419921875px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.c-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .c-gallery {
    width: 1440px;
    padding: 120px 108px 0;
  }

  .c-gallery-item {
    width: 400px;
    height: 711px;
    border-radius: 24px;

    margin: 0 10px;
  }

  .c-gallery-list {
    padding: 48px 0 0px;
  }
}

.c-features {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0px;
}

.c-features-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.c-features-item {
  width: 336px;
  height: 133px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  border-radius: 24px;
  background-image: url("/img/features/Frame\ 261.png");
}

.c-features-img {
  width: 37px;
  height: 37px;
  margin: auto;
}

.c-features-text {
  font-family: Lato;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}
.c-features-image {
  display: none;
}
@media screen and (min-width: 1200px) {
  .c-features {
    width: 1440px;
    padding: 120px 108px 0;
    position: relative;
  }
  .c-features-image {
    display: flex;
    position: absolute;
    top: 515px;
    right: 0px;
  }
  .c-features-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .c-features-item {
    width: 392px;
    height: 216px;
    border-radius: 24px;
    padding-top: 49px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .c-features-img {
    width: 50px;
    height: 50px;
  }

  .c-features-text {
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;
    text-align: center;

    padding-top: 10px;
  }
}

.c-policy-terms-container {
  padding: 124px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.c-policy-terms-title {
  font-family: Jaini;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(255, 140, 235, 1);
}

.c-policy-terms-text {
  padding-top: 20px;
  font-family: Lato;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.c-policy-terms-texts {
  padding-top: 8px;
}

.c-policy-terms-text-one {
  padding-top: 20px;
}

.c-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.c-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.c-email-link {
  color: inherit;
  text-decoration: none;
}

.c-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .c-policy-terms-container {
    padding: 188px 108px 80px;
    width: 1440px;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .c-policy-terms-title {
    font-family: Jaini;
    font-weight: 400;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }

  .c-policy-terms-text {
    padding-top: 40px;
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .c-policy-terms-text-one {
    padding-top: 30px;
  }

  .c-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.c-footer {
  width: 375px;
  margin: auto;
  background: rgba(207, 146, 255, 1);
  box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.25);

  padding: 22px 26px;
}

.c-footer-container {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.c-footer-wrapper {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.c-footer-text {
  text-decoration: none;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: rgba(0, 0, 0, 1);
}

.c-footer-copyright {
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

@media screen and (min-width: 1200px) {
  .c-footer {
    width: 1440px;
    padding: 25px 0px;
  }

  .c-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .c-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 19px;
  }

  .c-footer-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .c-footer-copyright {
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.c-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 28px;
  background: rgba(207, 146, 255, 1);

  z-index: 1000;
  display: none;
}

.c-cookie-popup-text-two {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
}

.c-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.c-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 3px 0px rgba(0, 79, 182, 1);
  width: 319px;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Lato;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

#accept-cookies {
  background: rgba(255, 255, 255, 1);
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.c-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .c-cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .c-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .c-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 108px;
    display: none;
  }
}
